@import url(https://allfont.es/allfont.css?fonts=dream-orphans);
@import url(//db.onlinewebfonts.com/c/08b6f9e76a014cebdcb30308789f6743?family=Selznick+Remix+NF);

/* @font-face {
    font-family: 'Selznick Remix NF';
    src: local('Selznick Remix NF'),
        url(./SelznickRemixNF.ttf) format('tff');
} */
/* @font-face {
    font-family: 'Dream Orphans';
    src: local('Dream Orphans') 
        url(./DreamOrphans.ttf) format('tff')
} */