.bgImg {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    background-image: url(../../images/Background.jpg);
    background-size: 100% 100%;
    z-index: 0;
}

.test {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border: 2px solid blue;
}

.clearer {
    clear: both;
}

/* -- Language Selection -- */
@keyframes langOpen {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes langClose {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#langOpen {
    animation-name: langOpen;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
#langClose {
    animation-name: langClose;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.container {
    position: fixed;
    display: inline-block;
    height: 7%;
    width: 11%;
    top: 2.5%;
    left: 0px;
    z-index: 2;
}
.dropdown {
    position: absolute;
    top: 0.5px;
    left: 45%;
    height: 98%;
    width: 300px;
    border: 5px solid #ecc093;
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    z-index: 0;
}
.langList {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    top: -15.5px;
    right: 0px;
    padding: 0px;
    list-style: none;
}
.langList li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    border: 3px solid #d1a87e;
    border-radius: 25%;
}
.langBtn {
    margin: 0px auto;
    color: white;
    background: none;
    border: none;
    font-family: 'Selznick Remix NF', Arial, sans-serif;
    font-size: 30px;
}
.dropdownBtn {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #5a3925;
    border-radius: 0px 20px 20px 0px;
    border: none;
    z-index: 1;
}
.langIcon {
    position: absolute;
    height: 55%;
    width: 60%;
    right: 10%;
    bottom: 22%;
}

/* ---------------------------------------------- */

/* -- Sidebar -- */

/* Cellphone Styles */
@keyframes sidebarAniOp {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes sidebarAniClo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

#open {
    animation-name: sidebarAniOp;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
#close {
    animation-name: sidebarAniClo;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.sidebarContainerC {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 25%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 4;
}
.sidebarC {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 100%;
    background-image: url(../../images/SidebarInterior.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
.closedC {
    display: none;
}
.openedSidebarBtnC {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 83.5%;
    left: 3px;
    /* border: 1px solid red; */
}
.closedSidebarBtnC {
    position: fixed;
    /* display: inline-block; */
    height: 100%;
    width: 20%;
    right: 0;
    z-index: 2;
}
.focusSidebarC {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 3;
}

/* Tablet Styles */
.sidebarContainerT {
    position: fixed;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 20%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-image: url(../../images/SidebarTablet.png);
    background-size: 100%;
    background-repeat: repeat-y;
    /* border: 1px solid blue; */
}

/* ---------------------------------------------- */

/* -- Texts -- */

/* -- Personal Info -- */
.myInfoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding: 15px;
}
.fullName {
    position: relative;
    width: 100%;
    padding: 15px;
    font-family: 'Selznick Remix NF', Arial, sans-serif;
    font-size: 43px;
    color: white;
    background-image: url(../../images/TitleBackdrop.png);
    background-size: 100% 100%;
    z-index: 1;
}
.myPos {
    font-size: 22px;
}
.cvBtn {
    border: 5px solid #ecc093;
    border-radius: 25%;
    background-color: black;
    font-size: 18px;
}
.cvBtn:hover {
    transform: scale(1.1, 1.1);
}
.cvBtn:active {
    transform: scale(0.9, 0.9);
}

/* -- Skills -- */
.indvSkill img {
    height: 25%;
    width: 25%;
}