.bgImg {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-image: url(../../images/Background.jpg);
    background-size: 100% 100%;
}

.test {
    position: fixed;
    width: 30%;
    height: 100%;
    right: 0px;
    border: 1px solid red;
}

.container {
    position: relative;
    display: inline-block;
}
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 2;
    border: 2px solid red;
    background-color: white;
}

/* Cellphone Styles */
@keyframes sidebarAniOp {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes sidebarAniClo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

#open {
    animation-name: sidebarAniOp;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
#close {
    animation-name: sidebarAniClo;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.sidebarContainerC {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 25%;
    height: 100%;
    top: 0px;
    right: 0px;
    /* border: 1px solid blue; */
}
.sidebarC {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 100%;
    background-image: url(../../images/SidebarInterior.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
.closedC {
    display: none;
}
.openedSidebarBtnC {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 83.5%;
    left: 3px;
    z-index: 1;
    /* border: 1px solid red; */
}
.closedSidebarBtnC {
    position: fixed;
    /* display: inline-block; */
    height: 100%;
    width: 20%;
    right: 0;
}
.focusSidebarC {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    z-index: 0;
}

/* Tablet Styles */
.sidebarContainerT {
    position: fixed;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 20%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-image: url(../../images/SidebarTablet.png);
    background-size: 100%;
    background-repeat: repeat-y;
    /* border: 1px solid blue; */
}