.bgImg {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    top: 0px;
    background-image: url(../../images/Background.jpg);
    background-size: 100% 100%;
    z-index: 0;
}

.test {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    border: 2px solid blue;
}

.clearer {
    clear: both;
}

/* -- Language Selection -- */
@keyframes langOpen {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
@keyframes langClose {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

#langOpen {
    animation-name: langOpen;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
#langClose {
    animation-name: langClose;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.C-langContainer {
    position: fixed;
    display: inline-block;
    height: 7%;
    width: 11%;
    top: 2.5%;
    left: 0px;
    z-index: 2;
}
.T-langContainer {
    position: fixed;
    display: inline-block;
    height: 15%;
    width: 20%;
    top: 2.5%;
    left: 0px;
    z-index: 2;
}

.C-langDropdown {
    position: absolute;
    top: 0.5px;
    left: 45%;
    height: 98%;
    width: 300px;
    border: 5px solid #ecc093;
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    z-index: 0;
}
.T-langDropdown {
    position: absolute;
    /* top: 0.5px; */
    left: 45%;
    height: 82%;
    width: 300px;
    border: 5px solid #ecc093;
    border-radius: 0px 20px 20px 0px;
    background-color: black;
    z-index: 0;
}

.C-langList {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    top: -15.5px;
    right: 0px;
    padding: 0px;
    list-style: none;
}
.T-langList {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 90%;
    top: -15.5px;
    right: 0px;
    padding: 0px;
    list-style: none;
}

.C-langList li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    border: 3px solid #d1a87e;
    border-radius: 25%;
}
.T-langList li {
    display: flex;
    align-items: center;
    height: 100%;
    width: 40%;
    border: 3px solid #d1a87e;
    border-radius: 25%;
}

.C-langBtn {
    margin: 0px auto;
    color: white;
    background: none;
    border: none;
    font-family: 'Selznick Remix NF', Arial, sans-serif;
    font-size: 30px;
}
.T-langBtn {
    margin: 0px auto;
    color: white;
    background: none;
    border: none;
    font-family: 'Selznick Remix NF', Arial, sans-serif;
    font-size: 30px;
}

.C-langDropdownBtn {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #5a3925;
    border-radius: 0px 30px 30px 0px;
    border: none;
    z-index: 1;
}
.T-langDropdownBtn {
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #5a3925;
    border-radius: 0px 20px 20px 0px;
    border: none;
    z-index: 1;
}

.C-langIcon {
    position: absolute;
    height: 55%;
    width: 60%;
    right: 10%;
    bottom: 22%;
}
.T-langIcon {
    position: absolute;
    height: 55%;
    width: 60%;
    right: 10%;
    bottom: 22%;
}

/* ---------------------------------------------- */

/* -- Sidebar -- */

/* Cellphone Styles */
@keyframes sidebarAniOp {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}
@keyframes sidebarAniClo {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

#open {
    animation-name: sidebarAniOp;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
#close {
    animation-name: sidebarAniClo;
    animation-direction: normal;
    animation-timing-function: ease-out;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.C-sidebarContainer {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 25%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 4;
}
.C-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    height: 100%;
    min-width: 100%;
    background-image: url(../../images/SidebarInterior.jpg);
    background-size: 100%;
    background-repeat: repeat-y;
}
.closed {
    display: none;
}
.C-openedSidebarBtn {
    position: relative;
    display: inline-block;
    height: 100%;
    min-width: 68.5%;
    left: 3px;
    /* border: 1px solid red; */
}
.C-closedSidebarBtn {
    position: fixed;
    /* display: inline-block; */
    height: 100%;
    width: 16%;
    right: 0;
    z-index: 2;
}
.C-focusSidebar {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.568);
    border: none;
    z-index: 3;
}

.sidebarOpts {
    position: relative;
    width: 150%;
    padding: 15% 0;
    right: 5%;
    font-size: x-large;
    text-shadow: 0 0 5px black;
    background: url(../../images/TitleBackdropAlt.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    transform: rotate(90deg);
}

/* Tablet Styles */
.T-sidebarContainer {
    position: fixed;
    flex-direction: row-reverse;
    align-content: flex-start;
    width: 20%;
    height: 100%;
    top: 0px;
    right: 0px;
    background-image: url(../../images/SidebarTablet.png);
    background-size: 100%;
    background-repeat: repeat-y;
    /* border: 1px solid blue; */
}

/* ---------------------------------------------- */

/* -- Texts -- */

/* -- Personal Info -- */
.myInfoContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    padding: 15px;
}
.fullName {
    position: relative;
    width: 100%;
    padding: 15px;
    font-family: 'Selznick Remix NF', Arial, sans-serif;
    font-size: 40px;
    text-shadow: 0 0 5px black;
    color: white;
    background-image: url(../../images/TitleBackdrop.png);
    background-size: 100% 100%;
    z-index: 1;
}
.myPos {
    font-size: 22px;
}
.cvBtn {
    border: 5px solid #ecc093;
    border-radius: 25%;
    background-color: black;
    font-size: 18px;
}
.cvBtn:hover {
    transform: scale(1.1, 1.1);
}
.cvBtn:active {
    transform: scale(0.9, 0.9);
}

/* -- Skills -- */
.indvSkillContainer {
    position: relative;
    list-style: none;
    padding: 0px;
}
.indvSkill {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px 0px; */
}
.indvSkillImg {
    height: 30%;
    width: 30%;
    border: 30px solid white;
    border-image-source: url(../../images/IconBorder.svg);
    border-image-slice: 135 fill;
    border-image-repeat: stretch;
}

/* -- Projects -- */
.indvProjectsContainer {
    position: relative;
    list-style: none;
    padding: 0px;
}
.indvProject {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding: 15px;
    border: 5px solid lightyellow;
    border-image-source: url(../../images/FullTextBox.svg);
    border-image-slice: 0 fill;
    border-image-repeat: stretch;
}
/* -- Contact -- */
.contactImgs {
    display: flex;
    justify-content: space-around;
}
.contactImgs img {
    height: 90%;
    width: 50%;
}