* {
  box-sizing: border-box;
  font-family: 'Dream Orphans', Arial, sans-serif;
  color: white;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

@media only screen and (orientation: landscape) and (max-width: 975px) {
  div.landscapeLock {
    display: flex;
  }
}

/* For mobile: */
@media only screen and (max-width: 425px) {
  [class*="col-"] {
    width: 100%;
  }

  li.indvProject img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 426px) {
  /* For Tablet */
  .col-port {width: 83.33%;}

  .closedSidebarBtn {
    display: none;
  }


  div.T-sidebar {
    display: flex;
  }
  div.langDropdown {
    width: 450px;
  }
  button.cvBtn {
    height: 60px;
  }
  li.indvSkill {
    margin: 10px 0px;
  }
  img.indvSkillImg {
    height: 45%;
    width: 45%;
  }
  li.indvProject img {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .col-port {width: 75%;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  div.T-sidebar {
    display: none;
  }

  div.D-sidebar {
    display: flex;
  }
  div.D-sidebarBG {
    display: inline-block;
  }
  div.langContainer {
    height: 12%;
    width: 6.5%;
  }
  button.langBtn {
    font-size: 45px;
  }
  span.fullName {
    font-size: 75px;
  }
  p.desc {
    font-size: 20px;
  }
  li.indvProject img {
    height: 50%;
    width: 75%;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
